*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  
  }
  body{
    background-image: url("../img/wallpaper.jpg");
  }
  
  .container{
    display: grid; 
    grid-template-columns:  1rf 2rf 1rf ;
    grid-template-rows: repeat(4,150px); 
    gap: 10px; 
    grid-template-areas: 'title title title' 
                         '. result .' 
                         'aside cartas content' 
                         'aside cartas content' 
  
  }
  .result{
    border-radius: 10px;
    background-color: #302f2f3b;
    display: flex;
    grid-area: result;
    justify-content: center;
    align-items: center;
  }
  
  h1{
    font-size: 70px;
    padding-top: 5%;
    grid-area: title;
    text-align: center;
    color: aliceblue;
    text-shadow: 6px 6px black;
  }
  h2{
    margin: 5%;
    flex-direction: row;
    color: aliceblue;
    text-shadow: 4px 4px black;
  }
  .main{
    position: relative;
    grid-area: cartas;
    display: flex;
  }
  .grid {
    position: absolute;
    padding: 10px;
    justify-content: center;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
  }

  #botao {
    background-color: rgba(71, 49, 44, 0.851);
    color: aliceblue;
    padding: 0.5rem;
    align-items: center;
    padding: 10px 30px;
    font-size: .9em;
    border-radius: 3px;
    text-align: center;
    margin-left: 46%;
  }